#puck {
  height: 7px;
  width: 7px;
  border: 10px solid black;
  border-radius: 100%;
  position: absolute;
  top: 66px;
  left: 10px;
  transition-property: left top;
  transition-duration: 10s;
  transform-style: ease-out;
}

#slide-input{
  z-index: 1;
    position: absolute;
    left: 100px;
    top: 69px;
    opacity: 0;

}

.court-outer {
  border: 1px solid black;
  height: 140px;
  width: 1460px;
  position: absolute;
}

.court-inner {
  background-color: lightblue;
  height: 100%;
  left: 100px;
  width: 270px;
  position: absolute;
}

.right-court-inner {
  left: 1090px;
}

.center-line {
  left: 720px;
  position: absolute;
  height: 100%;
  border: 1px solid black;
}

.circle {
  height: 100px;
  width: 100px;
  border: 20px solid blue;
  border-radius: 100%;
  position: absolute;
  background-color: white;
}

.inner-circle {
  height: 27px;
  width: 27px;
  border: 16px solid red;
  border-radius: 100%;
  position: absolute;
  left: 19px;
  top: 19px;
}

.right-circle{
  right: 0;
}

.reset {
  position: absolute;
  top: 200px;
}
